# Atlas coding standards.
Standard: Cpp11
Language: Cpp

# Indentation and column settings
IndentWidth: 4
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false

# General Settings
DerivePointerAlignment: true
PointerAlignment: Left
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignEscapedNewlines: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes

# Brace Settings
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

# Constructor Settings
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceBeforeCtorInitializerColon: true
